body{
    background:#f3f3f3;
    coclo:#333;
    width:100%;
    font-family:sans-seerif;
    margin:0 auto;
}

.header{
    width:90%;
    margin:auto;
    height:120px;
    background:#417aa8;
    color:#fff;
}

.menu{
     background-color:#417aa8;
     height:50px;
     line-height:50px;
     positive:relaitve;
     width:90%:
     margin:0 auto;
}
.menu ul {
    list-style:none;
}

.menu ul li a {
    float:left;
    width:70px;
    disply:block;
    tekt-aligh:center;
    color:#FFF;
    twkt-decorationb:none;
}

.menu ul li a:hover {
    background-color:#4b88b;
    disply:block;
.jarak{
    paddingg:0 2oc;
}



